.mainSwiper {
  width: 100%;
  height: 100%;

  padding-top: 0;
  padding-bottom: 10px;

  display: flex;
  justify-content: center;
}

.swiper-pagination {
  /* padding-top: 10px; */
  padding-bottom: 300px;
}

.swiper-slide img {
  width: 100%;
  object-position: 50% 50%;
  min-height: 375px;
  max-height: 500px;
  align-content: 'center';
}
.swiper-pagination {
  width: 77px;
  height: 8px;
  justify-content: center;
}
